/* General */
* {
    box-sizing: border-box;
}

h2 {
    font-style: italic;
    text-decoration: underline;
}

body {
    margin: 0px 0px;
    background-color: #001144;
    color: #cccccc;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

#headshot {
    height: 100px;
    margin: 7px 7px;
    border: 3px solid #cccccc;
}

footer {
    padding: 20px 20px;
    text-align: center;
    background-color: #002255;
    border-top: 3px solid #ccc;
}

main {
    flex: 1;
    padding: 20px 20px 0px 20px;
}

.box {
    border: 3px solid #cccccc;
    border-radius: 20px;
    padding: 0px 20px;
    width: 80%;
    margin-bottom: 20px;
}

.box:hover {
    background-color: #002255;
}

/* Mobile/narrow displays */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 90px 20px 20px;
    text-align: center;
    background-color: #002255;
    border-bottom: 3px solid #ccc;
    width: 100%;
    position: relative;
}

#headerMain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#icons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo {
    height: 50px;
    border: 3px solid #ccc;
    border-radius: 5px;
}

/* Desktop/wider displays */
@media (min-width: 800px) {
    #header {
        padding: 20px 160px 20px 20px;
    }

    #headerMain {
        flex-direction: row;
        gap: 20px;
    }

    #icons {
        flex-direction: row;
        gap: 20px;
    }
}